extends election_page

block countryImage
    img#headerCountryImage(src="/images/austria.svg")

block countryName
    div.headerMenuContent.headerItem Österreich

block electionPhases
    div.headerMenuContent.headerItem 2 Wahlrunden

block graph
    div#graph
        svg#linegraph
        script.
            loadAustrianData("de");

block results	
    div#results
        div#barchart
            script.
                loadAustrianCandidatePercentagesData("de")
//                var barData = [];
//                    d3.json("/data/austria/en/alexander_van_der_bellen.json", function (error, d) {
//                        barData = d3.merge([barData, d.items]);
//                        d3.json("/data/austria/en/andreas_khol.json", function (error, d) {
//                            barData = d3.merge([barData, d.items]);
//                                d3.json("/data/austria/en/norbert_hofer.json", function (error, d) {
//                                    barData = d3.merge([barData, d.items]);
//                                        var chart01 = new Barchart("barchart");
//                                        chart01.calculatePercentages(barData);
//                                    })
//                        })
//                    })
