extends election_page

block countryImage
    img#headerCountryImage(src="/images/austria.svg")

block countryName
    div.headerMenuContent.headerItem Österreich

block electionPhases
    div.headerMenuContent.headerItem 2 Wahlrunden

block candidate1Block
    div.selectionBox
        div.toggleButton#tb1(onclick="toggleGraphVisibility(this, 'BELLEN')")
        img.selectionBoxImage(src="/images/Bellen.jpg" onclick="showCandidateInformation('BELLEN')") 

block candidate2Block
    div.selectionBox
        div.toggleButton#tb2(onclick="toggleGraphVisibility(this, 'HOFER')")
        img.selectionBoxImage(src="/images/Hofer.jpg" onclick="showCandidateInformation('HOFER')") 

block candidate3Block
    div.selectionBox
        div.toggleButton#tb3(onclick="toggleGraphVisibility(this, 'GRISS')")
        img.selectionBoxImage(src="/images/Griss.jpg" onclick="showCandidateInformation('GRISS')")
        
block candidate4Block
    div.selectionBox
        div.toggleButton#tb4(onclick="toggleGraphVisibility(this, 'HUNDSTORFER')")
        img.selectionBoxImage(src="/images/Hundstorfer.JPG" onclick="showCandidateInformation('HUNDSTORFER')")
        
block candidate5Block
    div.selectionBox
        div.toggleButton#tb5(onclick="toggleGraphVisibility(this, 'KHOL')")
        img.selectionBoxImage(src="/images/Khol.jpg" onclick="showCandidateInformation('KHOL')")

block graph
    div#graph(onclick="hideCandidateInformation()")
        svg#linegraph
        script.
            loadAustrianData("de");
            d3.json("/data/austria/austria_events.json", function(error, d) {
                lineGraph.addEvents(d.items);
            })

block results	
    div#results(onclick="hideCandidateInformation()")
        div#barchart
            script.
                loadAustrianCandidatePercentagesData("de")
//                var barData = [];
//                    d3.json("/data/austria/en/alexander_van_der_bellen.json", function (error, d) {
//                        barData = d3.merge([barData, d.items]);
//                        d3.json("/data/austria/en/andreas_khol.json", function (error, d) {
//                            barData = d3.merge([barData, d.items]);
//                                d3.json("/data/austria/en/norbert_hofer.json", function (error, d) {
//                                    barData = d3.merge([barData, d.items]);
//                                        var chart01 = new Barchart("barchart");
//                                        chart01.calculatePercentages(barData);
//                                    })
//                        })
//                    })
