extends election_page

block countryImage
	img#headerCountryImage(src="/images/austria.svg")

block countryName
	div.headerMenuContent.headerItem Österreich
	
block electionPhases
	div.headerMenuContent.headerItem 2 Wahlrunden
	
block graph
	div#graph Graph

block results	
	div#results Ergebnisse