extends election_page

block countryImage
    img#headerCountryImage(src="/images/austria.svg")

block countryName
    div.headerMenuContent.headerItem Österreich

block electionPhases
    div.headerMenuContent.headerItem 2 Wahlrunden

block graph
    div#graph
        svg#linegraph
        script.
            var data = [];
            d3.json("/data/austria/de/election_2016.json", function (error, d) {
                data = d3.merge([data, d.items])
                d3.json("/data/austria/de/alexander_van_der_bellen.json", function (error, d) {
                    data = d3.merge([data, d.items])
                    d3.json("/data/austria/de/andreas_khol.json", function (error, d) {
                        data = d3.merge([data, d.items])
                        d3.json("/data/austria/de/irmgard_griss.json", function (error, d) {
                            data = d3.merge([data, d.items])
                            d3.json("/data/austria/de/norbert_hofer.json", function (error, d) {
                                data = d3.merge([data, d.items])
                                d3.json("/data/austria/de/rudolf_hundstorfer.json", function (error, d) {
                                    data = d3.merge([data, d.items])
                                    lineGraph.renderGraph(data)
                                })
                            })
                        })
                    })
                })
            })

block results	
    div#results Ergebnisse