extends layout

block scripts
	script(src="/javascripts/selection_page.js")
	script(src="/javascripts/languageDataLoader.js")
	script(src="/javascripts/EventThingedy.js")

block content
	div#sidebarInfoContainer
		img#candidateInfoImage
		h1#candidateName
		div#candidateInfoText
	div.header
		div.headerHoverContainer#headerCountrySelection
			div.headerMenuContent.headerItem(onclick="back()") Länderauswahl
		div.nonClickableHeaderContainer#headerCountry
			block countryImage	
			block countryName					
		div.nonClickableHeaderContainer#headerCandidates
			div.headerMenuContent 5 Kandidaten
		div.nonClickableHeaderContainer#headerElectionPhases
			block electionPhases
		div.headerHoverContainer(onclick="lineGraph.clearData(); currentDay = 0;")
			div.headerMenuContent.headerItem Reset
		//div.headerHoverContainer(onclick="compare()")
		//	img#headerComparisonImage(src="/images/cross.svg")
		//	div.headerMenuContent.headerItem Sprachvergleich
	
	div.contentArea
		div#graphSelectionBox
			block candidate1Block
			block candidate2Block
			block candidate3Block
			block candidate4Block
			block candidate5Block			
		block graph
		block results
	script(src="/javascripts/linegraph.js")
	script(src="/javascripts/barchart.js")
