extends layout

block scripts
	script(src="/javascripts/selection_page.js")

block content
	div#sidebarInfoContainer
		img#candidateInfoImage
		h1#candidateName
		div#candidateInfoText
	div.header
		div.headerHoverContainer#headerCountrySelection
			div.headerMenuContent.headerItem(onclick="back()") Länderauswahl
		div.nonClickableHeaderContainer#headerCountry
			block countryImage	
			block countryName					
		div.nonClickableHeaderContainer#headerCandidates
			div.headerMenuContent 5 Kandidaten
		div.nonClickableHeaderContainer#headerElectionPhases
			block electionPhases			
		div.headerHoverContainer(onclick="compare()")
			img#headerComparisonImage(src="/images/cross.svg")
			div.headerMenuContent.headerItem Sprachvergleich		
	
	div.contentArea(onclick="hideCandidateInformation()")
		block graph
		block results
	script(src="/javascripts/linegraph.js")
	script(src="/javascripts/barchart.js")
