extends layout

block scripts
	script(src="/javascripts/selection_page.js")

block content
	div.header
		div.headerHoverContainer#headerCountrySelection
			div.headerMenuContent.headerItem(onclick="back()") Länderauswahl
		div.headerHoverContainer#headerCountry
			block countryImage	
			block countryName					
		div.headerHoverContainer#headerCandidates
			div.headerMenuContent.headerItem 5 Kandidaten
		div.headerHoverContainer#headerElectionPhases
			block electionPhases			
		div.headerHoverContainer#headerComparison
			img#headerComparisonImage(src="/data/cross.svg")
			div.headerMenuContent.headerItem Ländervergleich
		div.headerHoverContainer#headerSettings
			div.headerMenuContent.headerItem Wikipedia-Sprache
			img#headerSettingsImage(src="/data/settings.svg")			
	
	div.contentArea
		block graph
		block results		