extends election_page

block countryImage
    img#headerCountryImage(src="/images/france.svg")

block countryName
    div.headerMenuContent.headerItem Frankreich

block electionPhases
    div.headerMenuContent.headerItem 2 Wahlrunden

block candidate1Block
    div.selectionBox
        img.selectionBoxImage(src="/images/Macron.jpg")
        div.selectionBoxText(onclick="showCandidateInformation('MACRON')") Macron
        div.toggleButton#tb1(onclick="toggleGraphVisibility(this, 'MACRON')")

block candidate2Block
    div.selectionBox
        img.selectionBoxImage(src="/images/LePen.jpg")
        div.selectionBoxText(onclick="showCandidateInformation('LEPEN')") Le Pen
        div.toggleButton#tb2(onclick="toggleGraphVisibility(this, 'LEPEN')")

block candidate3Block
    div.selectionBox
        img.selectionBoxImage(src="/images/Fillon.jpg")
        div.selectionBoxText(onclick="showCandidateInformation('FILLON')") Fillon
        div.toggleButton#tb3(onclick="toggleGraphVisibility(this, 'FILLON')")

block candidate4Block
    div.selectionBox
        img.selectionBoxImage(src="/images/Melenchon.jpg")
        div.selectionBoxText(onclick="showCandidateInformation('MELENCHON')") Mélenchon
        div.toggleButton#tb4(onclick="toggleGraphVisibility(this, 'MELENCHON')")

block candidate5Block
    div.selectionBox
        img.selectionBoxImage(src="/images/Hamon.jpg")
        div.selectionBoxText(onclick="showCandidateInformation('HAMON')") Hamon
        div.toggleButton#tb5(onclick="toggleGraphVisibility(this, 'HAMON')")

block electionBlock
    div.selectionBox
        img.selectionBoxImage(src="/images/black.jpg")
        div.selectionBoxText Wahl Frankreich
        div.toggleButton#tb6(onclick="toggleGraphVisibility(this, 'ELECTION')")


block graph
    div#graph(onclick="hideCandidateInformation()")
        svg#linegraph
        script.
            loadFrenchData("fr")

block results
    div#results(onclick="hideCandidateInformation()")
        div#barchart
            script.
                loadFrenchCandidatePercentagesData("fr")