extends election_page

block countryImage
    img#headerCountryImage(src="/images/france.svg")

block countryName
    div.headerMenuContent.headerItem Frankreich

block electionPhases
    div.headerMenuContent.headerItem 2 Wahlrunden

block candidate1Block
    div.selectionBox
        div.toggleButton#tb1(onclick="toggleGraphVisibility(this, 'MACRON')")
        img.selectionBoxImage(src="/images/Macron.jpg" onclick="showCandidateInformation('MACRON')")
        
block candidate2Block
    div.selectionBox
        div.toggleButton#tb2(onclick="toggleGraphVisibility(this, 'LEPEN')")
        img.selectionBoxImage(src="/images/LePen.jpg" onclick="showCandidateInformation('LEPEN')")               

block candidate3Block
    div.selectionBox
        div.toggleButton#tb3(onclick="toggleGraphVisibility(this, 'FILLON')")
        img.selectionBoxImage(src="/images/Fillon.jpg" onclick="showCandidateInformation('FILLON')")
        
block candidate4Block
    div.selectionBox
        div.toggleButton#tb4(onclick="toggleGraphVisibility(this, 'MELENCHON')")
        img.selectionBoxImage(src="/images/Melenchon.jpg" onclick="showCandidateInformation('MELENCHON')")
        
block candidate5Block
    div.selectionBox
        div.toggleButton#tb5(onclick="toggleGraphVisibility(this, 'HAMON')")
        img.selectionBoxImage(src="/images/Hamon.jpg" onclick="showCandidateInformation('HAMON')")

block graph
    div#graph(onclick="hideCandidateInformation()")
        svg#linegraph
        script.
            loadFrenchData("fr")
            d3.json("/data/france/france_events.json", function(error, d) {
                lineGraph.addEvents(d.items);
            })
    div#eventsText 
        div#eventText

block results
    div#results(onclick="hideCandidateInformation()")
        div#barchart
            script.
                loadFrenchCandidatePercentagesData("fr")