extends election_page

block countryImage
    img#headerCountryImage(src="/images/france.svg")

block countryName
    div.headerMenuContent.headerItem Frankreich

block electionPhases
    div.headerMenuContent.headerItem 2 Wahlrunden

block graph
    div#graph
        svg#linegraph
        script.
            d3.json("/data/france/en/election_2017.json", function (error, d) { lineGraph.renderGraph(d.items) })

block results	
    div#results Ergebnisse