extends election_page

block countryImage
	img#headerCountryImage(src="/data/france.svg")

block countryName
	div.headerMenuContent.headerItem Frankreich
	
block electionPhases
	div.headerMenuContent.headerItem 2 Wahlrunden
	
block graph
	div#graph Graph

block results	
	div#results Ergebnisse