extends layout

block styles
	link(href='/stylesheets/home.css', rel='stylesheet')
	
block scripts
	script(src="/javascripts/home_menu.js")
	
block content
	div#container
		div#infobox
			h1#title Präsidentschaftswahlen
			div#infotext In dieser Arbeit werden die Zugriffe auf verschiedene Wikipedia-Seiten zu den Präsidentschaftswahlen in Frankreich, Österreich, Südkorea sowie den USA analysiert und visualisiert. Diese Länder sind bei der Betrachtung der Wahlen aufgrund der jeweils vorherrschenden Umstände von besonderem Interesse. Weiterführende Informationen dazu erhalten Sie, wenn Sie mit der Maus über das entsprechenden Land hovern. Wählen Sie ein Land aus, um eine ausführliche Analyse der Zugriffe auf die Wahlseite, die Kandidatenseiten sowie wichtiger Geschehnisse während der Wahl zu erhalten. Alternativ können Sie auch die Zugriffszahlen verschiedener Sprachversionen einer Wahl direkt miteinander vergleichen.
		div#selectionbox
			div#franceBox(onmouseover="setFranceInfotext()" onclick="window.open('http://localhost:3000/france','_self')")
				img#franceImg(src="/images/france.svg")
				a.countryName Frankreich
			div#austriaBox(onmouseover="setAustriaInfotext()" onclick="window.open('http://localhost:3000/austria','_self')")
				img#austriaImg(src="/images/austria.svg")
				a.countryName Österreich
			div#usaBox(onmouseover="setUSAInfotext()" onclick="window.open('http://localhost:3000/usa','_self')")
				img#usaImg(src="/images/usa.svg")
				a.countryName USA
			div#southKoreaBox(onmouseover="setSouthKoreaInfotext()" onclick="window.open('http://localhost:3000/southKorea','_self')")
				img#southKoreaImg(src="/images/southKorea.svg")
				a.countryName Südkorea			
