extends layout

block styles
	link(href='/stylesheets/home.css', rel='stylesheet')
	
block scripts
	script(src="/javascripts/home_menu.js")
	
block content
	div#container
		div#infobox
			h1#title Präsidentschaftswahlen
			div#infotext Allgemein: Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation Lorem ipsum dolor sit amet, consectetuer
		div#selectionbox
			div#franceBox(onmouseover="setFranceInfotext()" onclick="window.open('http://localhost:3000/france','_self')")
				img#franceImg(src="/images/france.svg")
				a.countryName Frankreich
			div#austriaBox(onmouseover="setAustriaInfotext()" onclick="window.open('http://localhost:3000/austria','_self')")
				img#austriaImg(src="/images/austria.svg")
				a.countryName Österreich
			div#usaBox(onmouseover="setUSAInfotext()" onclick="window.open('http://localhost:3000/usa','_self')")
				img#usaImg(src="/images/usa.svg")
				a.countryName USA
			div#southKoreaBox(onmouseover="setSouthKoreaInfotext()" onclick="window.open('http://localhost:3000/southKorea','_self')")
				img#southKoreaImg(src="/images/southKorea.svg")
				a.countryName Südkorea
			div#allBox(onmouseover="setAllInfotext()" onclick="window.open('http://localhost:3000/all','_self')")
				img#allImg(src="/images/all.svg")
				a.countryName Vergleich			
