extends layout

block content
	div.header
		div#headerCountrySelection Länderauswahl
		div#headerCountry USA
		div#headerCandidates 8 Kandidaten
		div#headerElectionPhases 2 Wahlrunden
		
	
	div.contentArea
		div#graph Graph
		div#results Ergebnisse

