extends layout

block content
  h1= title
  p Welcome to #{title}

  div(class="mdc-layout-grid")
      div(class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10")
          svg(id="linegraph" )
  div(class="mdc-layout-grid")
      div(class="mdc-layout-grid__cell")
          button(class="mdc-button mdc-button--raised" id="korean-button" data-mdc-auto-init="MDCRipple") Korean
      div(class="mdc-layout-grid__cell")
          button(class="mdc-button mdc-button--raised" id="english-button" data-mdc-auto-init="MDCRipple") English
      div(class="mdc-layout-grid__cell")
          button(class="mdc-button mdc-button--raised" id="german-button" data-mdc-auto-init="MDCRipple") German

  script(src="javascripts/linegraph_korean_election.js")
