doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/material/material-components-web.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
    script(src='scripts/d3/build/d3.js')
    script(src='scripts/lodash/lodash.js')
    script(src='scripts/jquery/dist/jquery.js')
    block scripts
  body
    block content
    script(src='/material/material-components-web.js')
    script mdc.autoInit()
