extends election_page

block countryImage
    img#headerCountryImage(src="/images/southKorea.svg")

block countryName
    div.headerMenuContent Südkorea

block electionPhases
    div.headerMenuContent 1 Wahlrunde

block graph
    div#graph
        svg#linegraph
        script.
            loadKoreanData("ko")

block results	
    div#results
        div#barchart
        script.
            loadKoreanCandidatePercentagesData("ko")
//            var barData = [];
//            d3.json("/data/korea/en/ahn_cheol-soo.json", function (error, d) {
//                barData = d3.merge([barData, d.items])
//                d3.json("/data/korea/en/hong_jun-pyo.json", function (error, d) {
//                    barData = d3.merge([barData, d.items])
//                    d3.json("/data/korea/en/moon_jae-in.json", function (error, d) {
//                        barData = d3.merge([barData, d.items])
//                        d3.json("/data/korea/en/sim_sang-jung.json", function (error, d) {
//                            barData = d3.merge([barData, d.items])
//                            d3.json("/data/korea/en/yoo_seung-min.json", function (error, d) {
//                                barData = d3.merge([barData, d.items])
//                                var chart01 = new Barchart("barchart");
//                                chart01.renderGraph(barData, 0)
//                            })
//                        })
//                    })
//                })
//            })

