extends election_page

block countryImage
    img#headerCountryImage(src="/images/southKorea.svg")

block countryName
    div.headerMenuContent Südkorea

block electionPhases
    div.headerMenuContent 1 Wahlrunde

block candidate1Block
    div.selectionBox
        img.selectionBoxImage(src="/images/Moon.jpg")
        div.selectionBoxText(onclick="showCandidateInformation('MOON')") Moon
        div.toggleButton#tb1(onclick="toggleGraphVisibility(this, 'MOON')")

block candidate2Block
    div.selectionBox
        img.selectionBoxImage(src="/images/Hong.jpg")
        div.selectionBoxText(onclick="showCandidateInformation('HONG')") Hong
        div.toggleButton#tb2(onclick="toggleGraphVisibility(this, 'HONG')")

block candidate3Block
    div.selectionBox
        img.selectionBoxImage(src="/images/Ahn.jpg")
        div.selectionBoxText(onclick="showCandidateInformation('AHN')") Ahn
        div.toggleButton#tb3(onclick="toggleGraphVisibility(this, 'AHN')")

block candidate4Block
    div.selectionBox
        img.selectionBoxImage(src="/images/Yoo.jpg")
        div.selectionBoxText(onclick="showCandidateInformation('YOO')") Yoo
        div.toggleButton#tb4(onclick="toggleGraphVisibility(this, 'YOO')")

block candidate5Block
    div.selectionBox
        img.selectionBoxImage(src="/images/Sim.jpg")
        div.selectionBoxText(onclick="showCandidateInformation('SIM')") Sim
        div.toggleButton#tb5(onclick="toggleGraphVisibility(this, 'SIM')")

block electionBlock
    div.selectionBox
        img.selectionBoxImage(src="/images/black.jpg")
        div.selectionBoxText Wahl Südkorea
        div.toggleButton#tb6(onclick="toggleGraphVisibility(this, 'ELECTION')")


block graph
    div#graph(onclick="hideCandidateInformation()")
        svg#linegraph
        script.
            loadKoreanData("ko")
            d3.json("/data/korea/southkorea_events.json", function(error, d) {
                lineGraph.addEvents(d.items);
            })

block results	
    div#results(onclick="hideCandidateInformation()")
        div#barchart
        script.
            loadKoreanCandidatePercentagesData("ko")
//            var barData = [];
//            d3.json("/data/korea/en/ahn_cheol-soo.json", function (error, d) {
//                barData = d3.merge([barData, d.items])
//                d3.json("/data/korea/en/hong_jun-pyo.json", function (error, d) {
//                    barData = d3.merge([barData, d.items])
//                    d3.json("/data/korea/en/moon_jae-in.json", function (error, d) {
//                        barData = d3.merge([barData, d.items])
//                        d3.json("/data/korea/en/sim_sang-jung.json", function (error, d) {
//                            barData = d3.merge([barData, d.items])
//                            d3.json("/data/korea/en/yoo_seung-min.json", function (error, d) {
//                                barData = d3.merge([barData, d.items])
//                                var chart01 = new Barchart("barchart");
//                                chart01.renderGraph(barData, 0)
//                            })
//                        })
//                    })
//                })
//            })

