extends election_page

block countryImage
    img#headerCountryImage(src="/images/southKorea.svg")

block countryName
    div.headerMenuContent Südkorea

block electionPhases
    div.headerMenuContent 1 Wahlrunde

block candidate1Block
    div.selectionBox
        div.toggleButton#tb1(onclick="toggleGraphVisibility(this, 'MOON')")
        img.selectionBoxImage(src="/images/Moon.jpg" onclick="showCandidateInformation('MOON')")

block candidate2Block
    div.selectionBox
        div.toggleButton#tb2(onclick="toggleGraphVisibility(this, 'HONG')")
        img.selectionBoxImage(src="/images/Hong.jpg" onclick="showCandidateInformation('HONG')")

block candidate3Block
    div.selectionBox
        div.toggleButton#tb3(onclick="toggleGraphVisibility(this, 'AHN')")
        img.selectionBoxImage(src="/images/Ahn.jpg" onclick="showCandidateInformation('AHN')")

block candidate4Block
    div.selectionBox
        div.toggleButton#tb4(onclick="toggleGraphVisibility(this, 'YOO')")
        img.selectionBoxImage(src="/images/Yoo.jpg" onclick="showCandidateInformation('YOO')")

block candidate5Block
    div.selectionBox
        div.toggleButton#tb5(onclick="toggleGraphVisibility(this, 'SIM')")
        img.selectionBoxImage(src="/images/Sim.jpg" onclick="showCandidateInformation('SIM')")

block graph
    div#graph(onclick="hideCandidateInformation()")
        svg#linegraph
        script.
            loadKoreanData("ko")
            d3.json("/data/korea/southkorea_events.json", function(error, d) {
                lineGraph.addEvents(d.items);
            })
    div#eventsText
        div#eventText

block results	
    div#results(onclick="hideCandidateInformation()")
        div#barchart
        script.
            loadKoreanCandidatePercentagesData("ko")
//            var barData = [];
//            d3.json("/data/korea/en/ahn_cheol-soo.json", function (error, d) {
//                barData = d3.merge([barData, d.items])
//                d3.json("/data/korea/en/hong_jun-pyo.json", function (error, d) {
//                    barData = d3.merge([barData, d.items])
//                    d3.json("/data/korea/en/moon_jae-in.json", function (error, d) {
//                        barData = d3.merge([barData, d.items])
//                        d3.json("/data/korea/en/sim_sang-jung.json", function (error, d) {
//                            barData = d3.merge([barData, d.items])
//                            d3.json("/data/korea/en/yoo_seung-min.json", function (error, d) {
//                                barData = d3.merge([barData, d.items])
//                                var chart01 = new Barchart("barchart");
//                                chart01.renderGraph(barData, 0)
//                            })
//                        })
//                    })
//                })
//            })

