extends election_page

block countryImage
    img#headerCountryImage(src="/images/usa.svg")

block countryName
    div.headerMenuContent.headerItem USA

block electionPhases
    div.headerMenuContent.headerItem 2 Wahlrunden

block candidate1Block
    div.selectionBox
        img.selectionBoxImage(src="/images/Trump.jpg")
        div.selectionBoxText(onclick="showCandidateInformation('TRUMP')") Trump
        div.toggleButton#tb1(onclick="toggleGraphVisibility(this, 'TRUMP')")

block candidate2Block
    div.selectionBox
        img.selectionBoxImage(src="/images/Clinton.jpg")
        div.selectionBoxText(onclick="showCandidateInformation('CLINTON')") Clinton
        div.toggleButton#tb2(onclick="toggleGraphVisibility(this, 'CLINTON')")

block candidate3Block
    div.selectionBox
        img.selectionBoxImage(src="/images/Sanders.jpg")
        div.selectionBoxText(onclick="showCandidateInformation('SANDERS')") Sanders
        div.toggleButton#tb3(onclick="toggleGraphVisibility(this, 'SANDERS')")

block candidate4Block
    div.selectionBox
        img.selectionBoxImage(src="/images/Cruz.jpg")
        div.selectionBoxText(onclick="showCandidateInformation('CRUZ')") Cruz
        div.toggleButton#tb4(onclick="toggleGraphVisibility(this, 'CRUZ')")

block candidate5Block
    div.selectionBox
        img.selectionBoxImage(src="/images/Kasich.jpg")
        div.selectionBoxText(onclick="showCandidateInformation('KASICH')") Kasich
        div.toggleButton#tb5(onclick="toggleGraphVisibility(this, 'KASICH')")

block electionBlock
    div.selectionBox
        img.selectionBoxImage(src="/images/black.jpg")
        div.selectionBoxText Wahl USA
        div.toggleButton#tb6(onclick="toggleGraphVisibility(this, 'ELECTION')")


block graph
    div#graph(onclick="hideCandidateInformation()")
        svg#linegraph
        script.
            loadUsaData("en")
            d3.json("/data/usa/usa_events.json", function(error, d) {
                lineGraph.addEvents(d.items);
            })

block results(onclick="hideCandidateInformation()")
    div#results
        div#barchart
            script.
                loadUsaCandidatePercentagesData("en")
