extends election_page

block countryImage
    img#headerCountryImage(src="/images/usa.svg")

block countryName
    div.headerMenuContent.headerItem USA

block electionPhases
    div.headerMenuContent.headerItem 2 Wahlrunden

block graph
    div#graph
        svg#linegraph
        script.
            var data = [];
            d3.json("/data/usa/en/election_2016.json", function (error, d) {
                data = d3.merge([data, d.items])
                d3.json("/data/usa/en/bernie_sanders.json", function (error, d) {
                    data = d3.merge([data, d.items])
                    d3.json("/data/usa/en/donald_trump.json", function (error, d) {
                        data = d3.merge([data, d.items])
                        d3.json("/data/usa/en/hillary_clinton.json", function (error, d) {
                            data = d3.merge([data, d.items])
                            d3.json("/data/usa/en/john_kasich.json", function (error, d) {
                                data = d3.merge([data, d.items])
                                d3.json("/data/usa/en/ted_cruz.json", function (error, d) {
                                    data = d3.merge([data, d.items])
                                    lineGraph.renderGraph(data)
                                })
                            })
                        })
                    })
                })
            })

block results	
    div#results Ergebnisse
