extends election_page

block countryImage
    img#headerCountryImage(src="/images/usa.svg")

block countryName
    div.headerMenuContent.headerItem USA

block electionPhases
    div.headerMenuContent.headerItem 2 Wahlrunden

block graph
    div#graph
        svg#linegraph
        script.
            loadUsaData("en")
            d3.json("/data/usa/usa_events.json", function(error, d) {
                lineGraph.addEvents(d.items);
            })

block results	
    div#results
        div#barchart
            script.
                loadUsaCandidatePercentagesData("en")
