extends election_page

block countryImage
    img#headerCountryImage(src="/images/usa.svg")

block countryName
    div.headerMenuContent.headerItem USA

block electionPhases
    div.headerMenuContent.headerItem 2 Wahlrunden

block graph
    div#graph
        svg#linegraph
        script.
            d3.json("/data/usa/en/election_2016.json", function (error, d) { lineGraph.renderGraph(d.items) })

block results	
    div#results Ergebnisse
