extends election_page

block countryImage
    img#headerCountryImage(src="/images/usa.svg")

block countryName
    div.headerMenuContent.headerItem USA

block electionPhases
    div.headerMenuContent.headerItem 2 Wahlrunden

block graph
    div#graph
        svg#linegraph
        script.
            loadUsaData("en")

block results	
    div#results
        div#barchart
            script.
                loadUsaCandidatePercentagesData("en")
