extends election_page

block countryImage
    img#headerCountryImage(src="/images/usa.svg")

block countryName
    div.headerMenuContent.headerItem USA

block electionPhases
    div.headerMenuContent.headerItem 2 Wahlrunden

block candidate1Block
    div.selectionBox
        div.toggleButton#tb1(onclick="toggleGraphVisibility(this, 'TRUMP')")
        img.selectionBoxImage(src="/images/Trump.jpg" onclick="showCandidateInformation('TRUMP')")

block candidate2Block
    div.selectionBox
        div.toggleButton#tb2(onclick="toggleGraphVisibility(this, 'CLINTON')")
        img.selectionBoxImage(src="/images/Clinton.jpg" onclick="showCandidateInformation('CLINTON')")

block candidate3Block
    div.selectionBox
        div.toggleButton#tb3(onclick="toggleGraphVisibility(this, 'SANDERS')")
        img.selectionBoxImage(src="/images/Sanders.jpg" onclick="showCandidateInformation('SANDERS')")

block candidate4Block
    div.selectionBox
        div.toggleButton#tb4(onclick="toggleGraphVisibility(this, 'CRUZ')")
        img.selectionBoxImage(src="/images/Cruz.jpg" onclick="showCandidateInformation('CRUZ')")

block candidate5Block
    div.selectionBox
        div.toggleButton#tb5(onclick="toggleGraphVisibility(this, 'KASICH')")
        img.selectionBoxImage(src="/images/Kasich.jpg" onclick="showCandidateInformation('KASICH')")

block graph
    div#graph(onclick="hideCandidateInformation()")
        svg#linegraph
        script.
            loadUsaData("en")
            d3.json("/data/usa/usa_events.json", function(error, d) {
                lineGraph.addEvents(d.items);
            })
    div#eventsText
        div#eventText

block results
    div#results(onclick="hideCandidateInformation()")
        div#barchart
            script.
                loadUsaCandidatePercentagesData("en")
