#headerImages{
	width: 17%;
	height: 100%;
	margin-left: 3vw;
}

.headerImage{
	height: 6vh;
	width: 3vw;
	margin-left: 1vw;
}

#headerImagesText{
	width: 10%;
	height: 100%;
	font-size: 1.2vw;
	text-align: center;
	font-family: Avenir;
	color: #333333;
}

#analysisTitle{
	margin-top: 15vh;
	font-size: 1.5vw;
	font-family: Avenir;
	color: #333333;
}

#analysisText{
	width: 50%;
    margin-left: 25%;
    text-align: justify;
    font-size: 1vw;
    font-family: Avenir;
    color: #333333;
    line-height: 2.8vh;
}