#container{
	display:flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

#infobox{
	width: 30%;
	height: 100%;	
}

#selectionbox{
	width: 70%;
	height: 100%;
	align-items: center;
	display: flex;
}

#title{
	text-align: center;
	margin-top: 18vh;
	font-size: 2vw;
	color: #333333;
	font-family: Avenir;
	margin-right: 2vw;
}

#infotext{
	width: 72.5%;
	margin-left: 4vw;
	height: 52vh;
	font-size: 1.1vw;
	color: #333333;
	font-family: Avenir;
	line-height: 140%;
	overflow: hidden;
}

.countryName{
	color: #333333;	
	text-decoration: none;
	font-size: 1.2vw;
}

#franceBox:hover .countryName, #austriaBox:hover .countryName, #usaBox:hover .countryName, #southKoreaBox:hover .countryName, #allBox:hover .countryName{	
	border-bottom: 1px dotted black;
}

#franceBox:hover, #austriaBox:hover, #usaBox:hover, #southKoreaBox:hover, #allBox:hover{
	cursor: pointer;
}

#franceBox{
	height: 19.5vh;
	width: 14vw;
	text-align: center;
}

#franceImg{
	width: 100%;
	margin-bottom: 2vh;
	height: 88%;
}

#austriaBox{
	height: 21vh;
	width: 12vw;
	text-align: center;
}

#austriaImg{
	height: 60%;
	margin-bottom: 2vh;
	margin-top: 5.2vh;
}

#usaBox{
	height: 21vh;
	width: 15vw;
	text-align: center;
	margin-left: 1vw;
}

#usaImg{
	width: 100%;
	margin-bottom: 2vh;
	margin-top: 5.2vh;
	height: 60%;
}

#southKoreaBox{
	height: 20vh;
	width: 10vw;
	text-align: center;
	margin-right: 1vw;
}

#southKoreaImg{
	height: 80%;
	margin-bottom: 1.2vh;
	margin-top: 2vh;
	width: 100%;
}

#allBox{
	height: 20vh;
	width: 12vw;
	text-align: center;
}

#allImg{
	width: 100%;
	margin-bottom: 1.2vh;
	height: 90%;
}