body {  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

html,body {
    height: 100%;
	width: 100%;
}

.header{
	width:98%;
	height:7%;
	border-bottom: solid #333333 0.1vh;
	margin: 0% 0% 0% 1%;
	display: flex;
	align-items: center;
}

.header div{	
	float: left;
	overflow: hidden;
}

.headerHoverContainer{
	display: flex;
	align-items: center;
}

.headerHoverContainer:hover {
	cursor: pointer;
}

.headerHoverContainer:hover .headerItem {
	border-bottom: 1px dotted black;
}

#headerCountrySelection{
	width: 10%;
	height: 100%;
	margin-right: 10%;
}

#headerCountry{
	width: 10%;
	height: 100%;	
}

#headerCountryImage{
	height: 6vh;
	width: 3vw;
	margin-left: 1vw;
}

#headerCandidates{
	width: 10%;
	height: 100%;	
}

#headerElectionPhases{
	width: 10%;
	height: 100%;
	margin-right: 16vw;
}

#headerSettings{
	height: 100%;
	width: 13vw;
}

#headerSettingsImage{
	height: 2.5vh;
	width: 1.5vw;
	margin-right: 1.2vw;
}

.headerMenuContent{
	font-size: 1.2vw;
	text-align: center;
	font-family: Avenir;
	color: #333333;
	margin: 0 auto;
	border: 1px solid #f2f2f2; */
}

.contentArea{
	width:100%;
	height:92%;	
	display: flex;
}

#graph{
	width: 69.5%;
	height: 95%;
	text-align: center;
	border: solid #333333 1px;
	margin: 2% 0% 0% 1%;
}

#results{
	width: 28.5%;
	height: 95%;
	text-align: center;
	border: solid #333333 1px;
	margin: 2% 0% 0% 0%;
}

#headerComparison{
	margin-right: 10vw;
}

#headerComparisonImage{	
	width: 1.5vw;	
	height: 3.5vh;	
	margin-right: 0.6vw;
}

#sidebarInfoContainer{
	visibility: hidden;
	background-color: #f2f2f2;
	width: 15vw;
	height: 100%;
	border-right: 1px solid #333333;
	position: absolute;
}

#candidateInfoImage{
	width: 8vw;
	height: 8vw;
	margin-top: 8vh;
	border-radius: 50%;
	margin-left: 3vw;
}

#candidateInfoText{
	width: 80%;
	height: 50%;
	margin-left: 10%;
	margin-top: 4vh;
	font-family: Avenir;
	font-size: 1vw;
	line-height: 2.5vh;
}

#candidateName{
	font-family: Avenir;
	color: #333333;
	text-align: center;
	font-size: 1.5vw;
}