body {  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

html,body {
    height: 100%;
	width: 100%;
}

.header{
	width:98%;
	height:7%;
	border-bottom: solid #333333 0.1vh;
	margin: 0% 0% 0% 1%;
	display: flex;
	align-items: center;
}

.header div{	
	float: left;
	overflow: hidden;
}

.headerHoverContainer{
	display: flex;
	align-items: center;
}

.headerHoverContainer:hover {
	cursor: pointer;
}

.headerHoverContainer:hover .headerItem {
	border-bottom: 1px dotted black;
}

.nonClickableHeaderContainer{
	display: flex;
    align-items: center;
}

.nonClickableHeaderContainer:hover{
	cursor: default;
}

#headerCountrySelection{
	width: 10%;
	height: 100%;
	margin-right: 23.75vw;
}

#headerCountry{
	width: 10%;
	height: 100%;	
}

#headerCountryImage{
	height: 6vh;
	width: 3vw;
	margin-left: 1vw;
}

#headerCandidates{
	width: 10%;
	height: 100%;	
}

#headerElectionPhases{
	width: 10%;
	height: 100%;
	margin-right: 23.75vw;
}

#headerSettings{
	height: 100%;
	width: 13vw;
}

#headerSettingsImage{
	height: 2.5vh;
	width: 1.5vw;
	margin-right: 1.2vw;
}

.headerMenuContent{
	font-size: 1.2vw;
	text-align: center;
	font-family: Avenir;
	color: #333333;
	margin: 0 auto;
	border: 1px solid #f2f2f2;
}

.contentArea{
	width:100%;
	height:92%;
	display: flex;
}

#graph{
	width: 69.5%;
	height: 95%;
	text-align: center;	
	margin: 2% 0% 0% 1%;
}

#results{
	width: 28.5%;
	height: 95%;
	text-align: center;	
	margin: 2% 0% 0% 0%;
}

#headerComparisonImage{	
	width: 1.5vw;	
	height: 3.5vh;	
	margin-right: 0.6vw;
}

#sidebarInfoContainer{
	visibility: hidden;
	background-color: #f2f2f2;
	width: 15vw;
	height: 100%;
	border-right: 1px solid #333333;
	position: absolute;
}

#candidateInfoImage{
	width: 8vw;
	height: 8vw;
	margin-top: 8vh;
	border-radius: 50%;
	margin-left: 3vw;
}

#candidateInfoText{
	width: 80%;
	height: 50%;
	margin-left: 10%;
	margin-top: 4vh;
	font-family: Avenir;
	font-size: 1vw;
	line-height: 2.5vh;
}

#candidateName{
	font-family: Avenir;
	color: #333333;
	text-align: center;
	font-size: 1.5vw;
}

#barchart rect {
	fill: #333333;
}

.pageviews path {
	stroke: #333333;
}

.pageviews path.Donald_Trump {
	stroke: #c1272d;		
}

#barchart rect.Donald_Trump {
	fill: #c1272d;	
}

.pageviews path.Hillary_Clinton {
	stroke: #0071bc;
}

#barchart rect.Hillary_Clinton {
	fill: #0071bc;
}

.pageviews path.Bernie_Sanders {
	stroke: #5cd5ff;
}

#barchart rect.Bernie_Sanders {
	fill: #5cd5ff;
}

.pageviews path.John_Kasich {
	stroke: #f84049;
}

#barchart rect.John_Kasich {
	fill: #f84049;
}

.pageviews path.Ted_Cruz {
	stroke: #9b0c12;
}

#barchart rect.Ted_Cruz {
	fill: #9b0c12;
}

.pageviews path.Alexander_Van_der_Bellen {
	stroke: #c1272d;	
}

#barchart rect.Alexander_Van_der_Bellen {
	fill: #c1272d;	
}

.pageviews path.Norbert_Hofer {
	stroke: #0071bc;
}

#barchart rect.Norbert_Hofer {
	fill: #0071bc;
}

.pageviews path.Irmgard_Griss {
	stroke: #5cd5ff;
}

#barchart rect.Irmgard_Griss {
	fill: #5cd5ff;
}

.pageviews path.Rudolf_Hundstorfer {
	stroke: #f84049;
}

#barchart rect.Rudolf_Hundstorfer {
	fill: #f84049;
}

.pageviews path.Andreas_Khol {
	stroke: #9b0c12;
}

#barchart rect.Andreas_Khol {
	fill: #9b0c12;
}

.pageviews path.Jean-Luc_Mélenchon {
	stroke: #c1272d;	
}

#barchart rect.Luc_Mélenchon {
	fill: #c1272d;	
}

.pageviews path.François_Fillon {
	stroke: #0071bc;
}

#barchart rect.François_Fillon {
	fill: #0071bc;
}

.pageviews path.Emmanuel_Macron {
	stroke: #5cd5ff;
}

#barchart rect.Emmanuel_Macron {
	fill: #5cd5ff;
}

.pageviews path.Benoît_Hamon {
	stroke: #f84049;
}

#barchart rect.Benoît_Hamon {
	fill: #f84049;
}

.pageviews path.Marine_Le_Pen {
	stroke: #9b0c12;
}

#barchart rect.Marine_Le_Pen {
	fill: #9b0c12;
}

.pageviews path.Jean-Hong_Jun {
	stroke: #c1272d;	
}

#barchart rect.Hong_Jun-Pyo {
	fill: #c1272d;	
}

.pageviews path.Moon_Jae-In {
	stroke: #0071bc;
}

#barchart rect.Moon_Jae-In {
	fill: #0071bc;
}

.pageviews path.Ahn_Cheol-Soo {
	stroke: #5cd5ff;
}

#barchart rect.Ahn_Cheol-Soo {
	fill: #5cd5ff;
}

.pageviews path.Yoo_Seung-Min {
	stroke: #f84049;
}

#barchart rect.Yoo_Seung-Min {
	fill: #f84049;
}

.pageviews path.Sim_Sang-Jung {
	stroke: #9b0c12;
}

#barchart rect.Sim_Sang-Jung {
	fill: #9b0c12;
}

#graphSelectionBox{
	width: 10vw;
    height: 28vh;
    background: #f2f2f2;
    position: absolute;
    left: 3vw;
    top: 20vh;
}

.selectionBox{
	height: 16%;
	width: 100%;
	display: flex;
	align-items: center;
}

.selectionBoxImage{
	border-radius: 50%;
	width: 2vw;
	height: 2vw;
}

.selectionBoxText{
	width: 50%;
	margin-left: 5%;
	text-align: center;
}

.toggleButton{
	width: 1.5vh;
	height: 1.5vh;	
	margin-left: 5%;
}

#tb1{
	background: #333333;
}

#tb2{
	background: #333333;
}

#tb3{
	background: #333333;
}

#tb4{
	background: #333333;
}

#tb5{
	background: #333333;
}

#tb6{
	background: #333333;
}

.toggleButton:hover, .selectionBoxText:hover{
	cursor: pointer;
}